

.glow-btn {
    box-shadow: 0 0 12px rgba(0, 153, 255, 0.6);
    transition: 0.25s ease;
}

    .glow-btn:hover {
        box-shadow: 0 0 18px rgba(0, 153, 255, 0.9);
        transform: translateY(-2px);
    }


.pulse-dot {
    width: 12px;
    height: 12px;
    background: #dc3545;
    border-radius: 50%;
    animation: pulse 1s infinite ease-in-out;
    display: inline-block;
    margin-left: 8px;
}

@keyframes pulse {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.4);
    }

    100% {
        opacity: 0.3;
        transform: scale(1);
    }
}



.card {
    border-radius: 8px;
}

.card-header {
    font-weight: 600;
}

    .card-header.gradient {
        background: linear-gradient(90deg, #0d6efd, #6610f2);
        color: white !important;
        font-size: 1.05rem;
    }
